page-login {

#login{
	background-image: url("../../assets/imgs/patinetes.jpg");
}	
.item-list{
	background-color: transparent !important;
}
.btn-1{
	background-color: #E24D4F;
	color: #260356;
	font-weight: bold;

}
.text-center{
	text-align: center;
}
.logoIni{
	width: 30%;
    padding-bottom: 140px;
}
.titleIni{
	color: white;
	font-size: 40px;
}
.label-login{
	color: white;
	font-weight: bold;

}

}
